.avatar {
  height: 180px;
  width: 180px;
  border-radius: 25px;
}
.img {
  height: 250px !important;
  width: auto;
}

.img-about{
  height: 250px;
  width: 250px;
}

.logos{
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.overflow {

}
.overflow:hover{

}
